/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighted {
    background-color: yellow; 
}

.about-section {
    padding: 20px;
    text-align: justify;
    background-color: #dadee7;
    color: black;
  }


.title-research {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}


.result{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: rgb(224, 224, 217);
}

#overlay #search-input {
    width: fit-content !important;
    height: auto !important;
}

@media (min-width: 320px) and (max-width: 767px) {

    .grid-cols-4{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}


@media (min-width: 768px) and (max-width: 1265px) {

    .grid-cols-4{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}

.border {
    border-width: 2px;
}

.p-8 {
    padding: 2rem;
    margin: 10px;
}